body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 170vh;
    background-color: #e8ebed;
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    height: 70px;
    padding: 15px 0;
     border-bottom: 0.5px solid #c4c8cb;
}
.header a{
    color: black;
    list-style-type: none;
    text-decoration: none;
    font-size: 26px;
    font-weight: 550;
}
.header a:hover {
    text-decoration: underline;
}
.txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 500px;
    margin-bottom: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.txt p{
    font-size: 24px;
    color:black ;
}
.txt h2 {
    font-size: 34px;;
    margin-top: 40px;
    margin-bottom: 0;
}

#footer {
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 22px;
    font-weight: 700;
    border-top: 0.5px solid #c4c8cb;
}